*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    margin: auto

}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: rgb(34, 192, 255);
    text-align: center;
    color: white;
    padding: 10px;
    

}
.title{
    font-size: 26px;


}
section{
   padding: 20px;
   background-image: url('../images/people.jpg');
   background-size: cover;
   overflow: hidden;

}

.formContainer{
    max-width: 230px;
    background-color:  #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;

}

input[type="submit"]{
    color: white;
    background-color: rgb(34, 192, 255) ;
    font-weight: bold;
}  
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none ;
    background-image: url('images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y:center ;
}
footer{
    background-color: rgb(31, 30, 30);
    padding: 40PX;
    text-align: center;


}
.picture{
    width: 160px;
}


.descripition{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}
.descripition p, .descripition h3{ 
    margin-bottom: 20px;
}
h3{
    font-size: 24px;
}
